@import "@fullstack-demo/design-system/styles.css";
@source "./**/*.{ts,tsx,jsx,js,mdx}";
@source "../../packages/design-system/src/**/*.{ts,tsx}";
@import "tailwindcss";

@layer base {
  body {
    font-family: var(--font-sans);
  }
}
